@using PagedList.Mvc;
@model PagedList.IPagedList<BanVeMayBay.Models.ticket>
@{
    ViewBag.Title = "Tìm Kiếm Chuyến Bay";
    Layout = "~/Views/Shared/_layOutSite.cshtml";
}
<section class="flight-destinations">
    <div class="container bg-white">
        <div class="row">
            <form action="~/Checkout/Index" method="post">
                <input type="hidden" name="songuoi" value="@ViewBag.songuoi" />
                <div class="col-md-12 col-sm-12" style="padding-top:80px;">
                    <div class="flight-head">
                        <div class="">
                            <nav aria-label="breadcrumb">
                                <span style="font-weight:bold; font-size:22px;"></i> Vé Máy Bay </span>
                                <span style="font-weight:bold; color:#ff6a00; font-size:22px;"> @ViewBag.noibay </span>
                                - đến -<span style="font-weight:bold; color:#ff6a00; font-size:22px;"> @ViewBag.noiVe </span><br />
                                <span style="font-weight:bold; font-size:22px;"><i class="fas fa-calendar-day"></i> Ngày </span>
                                <span style="font-weight:bold; color:#ff0000; font-size:22px;"> @ViewBag.ngaybay </span>
                            </nav>
                        </div>
                    </div>

                    <div class="flight-table">
                        <table>
                            <thead>
                                <tr>
                                    <th>Hãng Hàng Không</th>
                                    <th>Từ</th>
                                    <th>Đến</th>
                                    <th>Giá</th>
                                    <th>Hạng Ghế</th>
                                    <th>Chi Tiết</th>
                                    <th>#</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="text-center">
                                            <img style="width:70px;height:50px" src="~/public/images/flight/@item.airline" alt="">
                                        </td>
                                        <td>
                                            <h6>@item.airport.airportName</h6>
                                            <p>Sân bay (@item.airport.airportName)</p>
                                        </td>
                                        <td>
                                            <h6>@item.airport1.airportName</h6>
                                            <p>Sân bay (@item.airport1.airportName)</p>
                                        </td>
                                        <td>
                                            <h6><strong class="color-red-3">@item.price.Value.ToString("N0") $</strong></h6>
                                            <p class="emi">(đơn vị - $)</p>
                                        </td>
                                        <td>@item.ticketType</td>
                                        <td>
                                            <a href="~/chuyen-bay/@item.id">Chi Tiết</a>
                                        </td>

                                        <td>
                                            @Html.RadioButton("datve", item.id, new { name = "idTitket", required = "required" })
                                            @Html.Label("Đặt Vé")
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>
        </div>
    </div>
</section>
<div class="container bg-white" style="margin-bottom:50px">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="flight-head">
                <div class="">
                    <nav aria-label="breadcrumb">
                        <span style="font-weight:bold; font-size:22px;"><i class="fas fa-fighter-jet"></i> Vé Máy Bay </span>
                        <span style="font-weight:bold; color:#ff6a00; font-size:22px;"> @ViewBag.noive </span> - đến -<span style="font-weight:bold; color:#ff6a00; font-size:22px;"> @ViewBag.noibay </span><br />
                        <span style="font-weight:bold; font-size:22px;"><i class="fas fa-calendar-day"></i> Ngày </span>
                        <span style="font-weight:bold; color:#ff0000; font-size:22px;"> @ViewBag.ngayden </span>
                    </nav>
                </div>
            </div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
            <div class="flight-table">
                <table>
                    <thead>
                        <tr>
                            <th>Hãng Hàng Không</th>
                            <th>Ngày Khởi Hành</th>
                            <th>Đến</th>
                            <th>Giá</th>
                            <th>Hạng Ghế</th>
                            <th>Chi Tiết</th>
                            <th>#</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Html.Action("return_ticket", "Site", new { date = ViewBag.date, noibay = ViewBag.noibay, noiden = ViewBag.noiVe })
                    </tbody>
                </table>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-10" style="padding-bottom:50px;">
                    </div>
                    <button class="btn-blue btn-red btn-style-1 " type="submit">Tiếp Tục</button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>


<!-- Destination Ends -->
<script>
    $("#active_@Model.PageNumber").addClass("active");

    function ajaxShowItem(t) {
        console.log(t.value)
    }
</script>